@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    background: #000;
    scrollbar-width: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@layer utilities {
    /* Custom scrollbar */
    ::-webkit-scrollbar {
        display: none;
    }
  }
/* Default Light Theme */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Dark Theme */
  [data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
  }
  
  /* Apply Theme */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  